<div class="small-video-card">
  <div>
    <img
      src="https://i.ytimg.com/vi/b3RUaw2KZLw/hq720.jpg?sqp=-oaymwEXCNAFEJQDSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLCwVR0-r7F5TlkS-cVKcjNLJ0FySA"
      class="thumbnail"
    />
  </div>
  <div class="details-section">
    <img
      src="https://yt3.ggpht.com/ytc/AKedOLRkxj8aCC1uGAT0eSkga1S1RpYpu7lBPBtk22FZOg=s68-c-k-c0x00ffffff-no-rj"
      class="card-profile-pic"
    />

    <div class="video-details">
      <h4 class="video-name">Vikram - Amar BGM Ringtone | VIRAL BGM</h4>
      <p class="channel-name">Vikram</p>
      <mat-icon class="verified-icon">verified_user</mat-icon>
      <div>
        <p class="views">5.5 million views</p>
        <p class="uploaded-time">2 months ago</p>
      </div>
    </div>
  </div>
</div>
