<nav class="nav-bar">
    <div class="toggler" (click)="showHideToggleMenu()">
        <mat-icon>menu</mat-icon>
    </div>
    <div class="logo">
        <img src="../../../../assets/youtube-logo.png" routerLink="/">
    </div>
    <div class="search-bar" [ngClass]="searchBarClass">
        <app-nav-search></app-nav-search>
    </div>
    <div class="nav-items">
        <mat-icon class="search-icon" (click)="showSearchBar()">search</mat-icon>
        <mat-icon >video_call</mat-icon>
        <mat-icon>apps</mat-icon>
        <mat-icon>notifications_none</mat-icon>
        <div class="profile">
            <p>V</p>
        </div>
    </div>
</nav>
<div class="category-selector">
    <app-category-selector [categoryList]="categoryList"></app-category-selector>
</div>
<div class="toggle-menu" *ngIf="isToggleActive">
    <app-toggle-menu (hideToggleMenu)="showHideToggleMenu()"></app-toggle-menu>
</div>
