.nav-bar{
    height: 4rem;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 7%;
}
.toggler{
    position: absolute;
    width: 7%;
    left: 0;
    margin: 0 !important;
}
.nav-bar .logo{
    width: 8rem;
    flex-shrink: 0;
}
.nav-bar .logo img{
    width: 100%;
}
.nav-bar .logo:hover{
    cursor: pointer;
}
.nav-items{
    margin-right: 2rem;
    display: flex;
    align-items: center;
}
.nav-items mat-icon,.toggler{
    margin: 0 0.5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-items mat-icon:hover,.nav-items .profile,.toggler{
    cursor: pointer;
}
.nav-items .profile{
    margin: 0 1rem;
    border-radius: 50%;
    background-color: rgba(255, 0, 93, 1);
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
}

.category-selector{
    position: absolute;
    top: 4rem;
    left: 7%;
    width: 100%;
}