.premium-add-container{
    width: 100%;
    height: 20rem;
    background-color: black;
    padding: 1rem 2rem;
    position: relative;
    color: white;
}
.add-close-icon{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.header .logo{
    width: 4rem;
}
.header .logo img{
    width: 100%;
}
.add-caption{
    margin-top: 1rem;
    width: 45%;
    font-size: 1.5rem;
}
.add-caption h1{
    font-weight: 300;
}
.subscribe-btn{
    margin-top: 1rem;
    background-color: transparent;
    color: white;
    border: 0.1rem solid white;
    padding: 0.5rem;
}
.subscribe-btn:hover,.add-close-icon{
    cursor: pointer;
}
