<div class="channel-details-container">
    <div class="channel-pic">
        <img src="https://yt3.ggpht.com/ytc/AKedOLRSu0SoelpGmqyAj7H-l9AvN_a4GiV145VwyF4yqA=s48-c-k-c0x00ffffff-no-rj">    
    </div>
    <div class="channel-details">
        <div class="channel-information">
            <h3 class="channel-name">Sony Music South</h3>
            <p class="subscribers">12M subscribers</p>
            <h3 class="channel-description">
                Watch Ethir Neechal - Making of the Song feat. Honey Singh, Hiphop Tamizha Adhi, Anirudh Ravichander
            </h3>
            <button class="show-more">show more</button>
        </div>
    </div>
    <div class="channel-actions">
        <button>subscribe</button>
    </div>
</div>
