<div class="home-container">
    <div class="add-section">
        <app-premium-add *ngIf="showAdd" (closeAddEmitter)="closeAdd()"></app-premium-add>
    </div>
    <div class="recommended-videos">
        <div class="recommended-video-container">
            <div class="small-video-container">
                <app-small-video-card></app-small-video-card>
            </div>
            <div class="small-video-container">
                <app-small-video-card></app-small-video-card>
            </div>
            <div class="small-video-container">
                <app-small-video-card></app-small-video-card>
            </div>
            <div class="small-video-container">
                <app-small-video-card></app-small-video-card>
            </div>
            <div class="small-video-container">
                <app-small-video-card></app-small-video-card>
            </div>
        </div>
    </div>
</div>
