<div class="mixed-videos-container">
  <app-chat-reply></app-chat-reply>
  <div class="mixed-videos-section">
    <div class="mixed-video-header">
      <div class="title">
        <h3>Mix - Filimi</h3>
        <p>Youtube</p>
      </div>
      <mat-icon class="close-icon">close</mat-icon>
    </div>
    <div class="mixed-video-lists">
        <app-mixed-video-card></app-mixed-video-card>
        <app-mixed-video-card></app-mixed-video-card>
        <app-mixed-video-card></app-mixed-video-card>
        <app-mixed-video-card></app-mixed-video-card>
        <app-mixed-video-card></app-mixed-video-card>
        <app-mixed-video-card></app-mixed-video-card>
        <app-mixed-video-card></app-mixed-video-card>
    </div>
    <div class="next-song-details"></div>
  </div>
</div>
