*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --white: rgba(255, 255, 255, 1);
    --black: rgba(0, 0, 0, 1);
    --background-gray: rgba(235, 235, 235, 1);

}
html{
    font-size: 62.5%;
}
